<section class="walk-through walk-through__center-center">
    <mat-selection-list #walkthroughlist>
        <mat-list-item *ngFor="let randomPerson of randomUser$ | async ">
            <mat-card class="walk-through__card">
                <mat-card-content>
                    <div class="walk-through__header">
                        <app-walk-through-header [toggleSwitch]="ThemeTypes.Dark"></app-walk-through-header>
                    </div>
                    <div class="walk-through__center-center">
                        <img src="{{ randomPerson.picture.large }}">                        
                        <img src="{{ randomPerson.picture.medium }}">
                        <img src="{{ randomPerson.picture.thumbnail }}">
                     </div>                                       
                    <app-walk-through-content></app-walk-through-content>  
                    <app-walk-through-toolbar (mouseOverIcon)="onmouseOver($event, randomPerson)" ></app-walk-through-toolbar>
                </mat-card-content>
                <mat-card-content>
                    <div class="walk-through__center-center walk-through__buttons">
                        <button mat-button (click)="onPageRequest(ButtonActions.Previous)"
                            [disabled]="pageNumber === 1">
                            <mat-icon  matTooltip="{{ButtonActions.Previous}}">arrow_back</mat-icon>
                        </button>
                        <button mat-button (click)="onPageRequest(ButtonActions.Next)">
                            <mat-icon  matTooltip="{{ButtonActions.Next}}">arrow_forward</mat-icon>
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-list-item>        
    </mat-selection-list> 
</section>