app-walk-through {
    .walk-through {
        &__center-center {
            display: flex; 
            align-items: center;
            justify-content: center;           
            width: 100%;  
            height: 100%;  
        }   

        &__header {
            display: flex; 
            justify-content: flex-end;       
        }

        &__card {
            width: 80vw;
        }

        &__upper-spacing {
            padding-top: 40px;
        }

        img {
            border-radius: 100px;
        }
    }
}