<section class="walk-through walk-through__center-center">
    <mat-selection-list #walkthroughlist>
        <mat-list-item *ngFor="let randomPerson of randomUser$ | async ">
            <mat-card class="walk-through__card">
                <mat-card-content>
                    <div class="walk-through__center-center">
                        <img src="{{ randomPerson.picture.large }}">                        
                        <img src="{{ randomPerson.picture.medium }}">
                        <img src="{{ randomPerson.picture.thumbnail }}">
                     </div>                  
                     
                    <app-walk-through-content [categoryText]="categoryText" [contentText]="contentText"></app-walk-through-content>  
                    <app-walk-through-toolbar (mouseOverIcon)="onmouseOver($event, randomPerson)" ></app-walk-through-toolbar>
                </mat-card-content>
                <mat-card-content>
                    <div class="walk-through__center-center">
                        <button mat-button (click)="onPageRequest(ButtonActions.Previous)"
                        [disabled]="pageNumber === 1">
                            <span>{{ ButtonActions.Previous }}</span>
                        </button>
                        <button mat-button (click)="onPageRequest(ButtonActions.Next)">
                            <span>{{ ButtonActions.Next }}</span>
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-list-item>        
    </mat-selection-list> 
</section>