app-address-book-header {
    .header {
        &__row {
            display: flex;      
            justify-content: space-between; 
        }

        &__title {
            font-size: 2.2em;
            padding-left: 6px;            
        }
    }
}