<section class="walk-through walk-through__center-center">
    <mat-selection-list #addressbooklist>
        <mat-list-item *ngFor="let randomPerson of randomUser$ | async ">
            <mat-card>
                <mat-card-content>
                    <div class="walk-through__center-center">
                        <mat-card-content><span>{{randomPerson.firstName}}</span><span>&nbsp;</span><span>{{randomPerson.lastName}}</span></mat-card-content>                        
                    </div>                    
                    <div class="walk-through__center-center">
                        <img src="{{ randomPerson.picture.large }}">
                        <img src="{{ randomPerson.picture.medium }}">
                        <img src="{{ randomPerson.picture.thumbnail }}">
                    </div>                    
                    <div class="walk-through__center-center walk-through__pt-5"><mat-card-content>{{randomPerson.location}}</mat-card-content></div>
                    <div class="walk-through__center-center"><mat-card-content>{{randomPerson.email}}</mat-card-content></div>
                    <div class="walk-through__center-center"><mat-card-content>{{randomPerson.phoneNumber}}</mat-card-content></div>
                    <div class="walk-through__center-center"><mat-card-content>{{randomPerson.dob | date}}</mat-card-content></div>
                    <div class="walk-through__center-center"><mat-card-content>{{randomPerson.password}}</mat-card-content></div>
                    <div class="walk-through__center-center"><mat-card-content>{{randomPerson.nat}}</mat-card-content></div>                   
                </mat-card-content>
                <mat-card-content>
                    <div class="walk-through__center-center">
                        <button mat-button (click)="onPageRequest(ButtonActions.Previous)"
                        [disabled]="pageNumber === 1">
                            <span>{{ ButtonActions.Previous }}</span>
                        </button>
                        <button mat-button (click)="onPageRequest(ButtonActions.Next)">
                            <span>{{ ButtonActions.Next }}</span>
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-list-item>        
    </mat-selection-list> 
</section>