<section class="footer">
    <mat-card>
        <mat-card-content class="footer__buttons">
            <div class="footer__buttons">
                <button mat-button (click)="pageRequest.emit(ButtonActions.Previous)"
                [disabled]="pageNumber === 1">
                    <span class="footer__button">{{ ButtonActions.Previous }}</span>
                </button>
                <button mat-button (click)="pageRequest.emit(ButtonActions.Next)">
                    <span class="footer__button">{{ ButtonActions.Next }}</span>
                </button>
            </div>

        </mat-card-content>
        <mat-card-footer>
            <div class="footer__pagination">
                <div class="footer__entries">
                    <span>{{textConst.addressBook.entriesPerPage}}</span><span>&nbsp;</span><span>{{ entriesPerPage }}</span> 
                </div>
                <div class="footer__page-number">
                    <span>{{pageNumber}}</span><span>&nbsp;</span><span>{{textConst.addressBook.of}}</span> 
                </div>
            </div>            
        </mat-card-footer>
    </mat-card>
</section>
