app-walk-through-content {
    .walk-through {
        &__center-center {
            display: flex;
            justify-content: center;           
        }   

        &__text {
            opacity: 0.5;
            padding-top: 20px;
            padding-bottom: 10px;
            font-size: 20px;
        }

        &__content {
            font-size: 32px;
            padding-bottom: 20px;
        }
    }
}