app-address-book-footer {
    .footer {
       width: 100vw;
       &__buttons {
          display: flex; 
          align-items: center;
          justify-content: center;  
       }

       &__button {
         font-size: 1.3em;
       }

       &__pagination {
         display: flex; 
         justify-content: space-between; 
         width: 100%;
         border-top: solid 1px rgba(0,255,255, .2);
      }

      &__entries,
      &__page-number {
         font-size: 0.8em;
         opacity: 0.5;
      }

      &__entries {
         padding-left: 6px;
      }

      &__page-number {
         padding-right: 10px;
      }
    }
}