app-address-book {
    .address-book {
        &__row {
            display: flex; 
            width: 100%;
        }

        &__start {
            justify-content: flex-start; 
        }

        &__panel {
            height: 490px;
        }
    }
}