<mat-card *ngIf="addressBookEntry !== emptyAddressBookEntry" class="detail">
    <mat-card-title>
        <div class="detail__row detail__between">
            <div></div>
            <app-fullname [addressBookEntry]="addressBookEntry"></app-fullname>                
            <button class="detail__close"  mat-button (click)="onClear()"><span>&#10006;</span></button>
        </div>
    </mat-card-title>
    <mat-card-content class="detail__row detail__center">{{addressBookEntry.phoneNumber}}</mat-card-content>
</mat-card>